* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(42, 42, 42);
}

a:hover {

    color: rgb(39, 187, 187);
    transition: ease 0.2s;
    text-decoration: underline;
    transform: scale(2);
}

.nav1 {
    display: flex;
    flex: 1;
    gap: 45px;
}

i {
    width: 30px;
    color: white;
    align-items: left;
}

nav {
    display: flex;
    position: sticky;
    top: -1px;
    background-color: rgba(246, 246, 246, 0.819);
    height: auto;
    width: 100%;
    backdrop-filter: blur(9px);
    z-index: 3;
    justify-content: center;
    box-shadow: 0 0.5px 2px gray;
}

.sub-nav {
    flex: center;
    padding: 10px;
    height: auto;
    display: flex;
    background-color: rgb(5, 111, 111);
    align-items: center;
    color: white;
}


.sublist li {
    padding: 5px 10px;

}

.dropangle {
    margin-left: 5px;
    transition: 0.5s ease;
}

.offline:hover .dropangle {
    margin-left: 5px;
    transform: rotate(180deg);
}

hr {
    height: 0.5px;
    background-color: #ccc;
    border: none;
}

.offline {
    position: relative;
}

.sublist {
    width: auto;
    margin-top: 1px;
    display: none;
    position: absolute;
    border: none;
    border-radius: 0px 0px 5px 5px;
    background-color: rgb(239, 239, 239);
    backdrop-filter: blur(6px);
    transition: 1s ease;
}

.offline:hover .sublist {
    display: block;
}



.div1container {
    background-color: rgb(246, 246, 246);
    display: flex;
    padding: 80px;
}

.div1-txt {
    height: auto;
    padding: 24px;
    background-color: rgb(227, 248, 254);
    flex: 1;
}


.hero-text {
    position: absolute;
    top: 320px;
    color: rgb(38, 38, 38);
    margin-left: 80px;
    font-size: 40px;
    z-index: 1;
}

.image {
    position: absolute;
    z-index: 1;
    position: relative;
    height: 500px;
    width: 100%;
}

.nikpng:hover {
    filter: brightness(0.95);
}

.nikpng {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-226px);
    filter: brightness(1.1);
}

.ball {
    height: 2px;
    width: 65px;
    border: none;
    border-radius: 10px;
    background-color: teal;
    animation-name: ball;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes ball {
    from {}

    to {
        transform: translateX(310px);
    }

}

.btn {
    height: 40px;
    width: 150px;
    background-color: rgb(38, 183, 166);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.4s ease;
}

.btn:hover {
    background-color: rgb(25, 132, 119);
}

.div1-img {
    flex: 1;
}

.div1-txt h1 {
    font-size: 48px;
    padding-bottom: 15px;
}

.main {
    height: 500px;
    background-color: rgb(186, 240, 239);
}

.sec1 {
    height: auto;
    width: 100%;
    background-color: rgb(230, 230, 230);
}

.navitems {
    font-size: 24;
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    color: rgb(42, 42, 42);
    vertical-align: middle;
    cursor: pointer;

}

.logo {
    height: 40px;
    width: 70px;
    padding-top: 5px;
    margin-right: 0px;
}

.sec2 {
    background-color: white;

}


.box .box1,
.box2,
.box3 {
    position: relative;
    height: auto;
    background-color: white;
    padding: 50px;
    border: 2px solid rgb(29, 189, 189);
    transition: 0.4s ease;
    overflow: hidden;
}

.overlay-text {
    text-align: center;
    justify-content: center;
    color: white;
    width: 100%;
    position: absolute;
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* top: 0; */
    background-color: rgba(0, 0, 0, 0.733);
    transition: 0.6s ease all;
}

.overlay-text h2 {
    padding-top: 80px;
}


.box2:hover .overlay-text {
    height: 100%;
}



h2 {
    padding-top: 10px;
    text-align: center;
    font-size: 64px;
}

h3 {
    font-size: 40px;
    animation-name: booknow;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes booknow {
    from {}

    to {
        color: rgb(112, 3, 3);
    }
}

.box div:hover {
    box-shadow: 0 4px 8px 0 gray;
}

.box h1 {
    color: rgb(0, 138, 160);
    text-align: center;
    margin-bottom: 20px;
}

.box {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    padding: 10px;
    padding-top: 0;
    margin: 20px;
    gap: 20px;

}

.container2 {
    padding: 50px;

}



.box2 {
    align-items: center;
}

.div2-1 {
    margin-top: 100px;
    background-color: rgb(239, 251, 255);
    height: 300px;
    width: 300px;
    box-shadow: 0 4px 8px 0 gray;
}

.logo:hover {
    filter: brightness(0.95);
}

.wtsp {
    align-items: center;
    display: flex;
    position: relative;
    height: 50px;
    width: 150px;
    background-color: rgb(43, 227, 26);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(128, 128, 128);
    position: fixed;
    bottom: 0px;
    right: 10px;
    justify-content: center;
    color: white;
    z-index: 5;
}

.wtsp:hover {
    filter: brightness(0.8);
}

.wtsp-logo {
    height: 40px;
    width: 34px;
    padding-top: 7px;
    padding-left: 0px;
}

.wtsp-no {
    padding-right: 5px;
}

.div1-head {
    text-align: center;
    padding-top: 20px;
    color: rgb(51, 178, 178);
    font-size: 22px;
    text-decoration: underline;
}

.footer {
    height: 300px;
    width: 100%;
    background-color: rgb(0, 46, 46);
    color: white;
}

.container-f {
    height: 100%;
    width: 100%;
    padding: 65px;
    gap: 80px;
    display: flex;
}

.left-f {
    flex: 1;
    color: white;
}

.mid-f {
    flex: 1;

}

.right-f {
    flex: 1;

}

.SM-index li {
    color: white;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px 0;
}

.premium-btn {
    margin-top: 20px;
    height: 40px;
    width: 220px;
    border: none;
    border-radius: 20px;
    background-color: teal;
    color: white;
    font-size: 18px;
}

.premium-btn:hover {
    background-color: rgb(5, 86, 86);
}

/* -------------section-counters---------- */
.section-counters {
    background-color: rgb(222 239 237);
}

.outer-6-flex {
    justify-content: center;
    display: flex;
    gap: 75px;
}

.container {
    padding: 70px 100px;
}

.box-6 {
    font-size: xx-large;
    background-color: white;
    padding: 35px;
    height: auto;
    justify-items: center;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.icon-6 {
    color: teal;
    padding-bottom: 10px;
}

/* ---------------section-3------------ */
.outer-3-flex {
    display: flex;

}

.outer-3-flex .left-3 {
    padding: 50px;
    flex: 1;
}

.outer-3-flex .right-3 {
    background-image: url(banner-2-graphics.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}