@media (max-width:576px) {
    .side-social-bar {
        display: none;
    }



    .hero-section .hamburger {
        display: block;
    }

    .hero-section .navbar-flex .searchbar input {
        display: none;

    }

    .hero-section .navbar-flex {
        gap: 50px;
        justify-content: space-evenly;
    }

    .container-m {
        margin: 0 20px;
    }

    .container-p {
        padding: 25px 0;
    }

    .hero-section .outer-hero {
        display: block;
    }

    .hero-section .outer-hero .content-hero {
        text-align: center;
    }

    .hero-section .outer-hero .content-hero h1 {
        font-size: 64px;
        text-align: center;
        line-height: 55px;
    }


    .hero-section .outer-hero .content-hero .text-hero {
        padding-left: 25px;
    }

    .hero-section .outer-hero .content-hero .header-hero {
        width: 100%;
        transform: scale(0.8);
        text-align: center;
    }

    .hero-section .outer-hero .hero-img {
        display: none;
    }

    .hero-section .browse-btn-div {
        text-align: center;
        padding-bottom: 20px;
    }

    .hero-section .outer-hero .bubble {
        display: none;
    }

    .hero-section .curve {
        display: none;
    }

    /* ----------we-are------------ */

    .what-we-are .we-outer {
        display: flex;
        flex-direction: column;
    }

    .what-we-are .we-outer .left-content h2 {
        font-size: 22px;
    }

    .what-we-are .we-outer .left-content .ul-btn-flex button {
        display: none;
    }

    /* ----------------courses--------- */
    .courses .courses-outer {
        display: flex;
        flex-direction: column;
    }

    .features .photos {
        display: flex;
        flex-direction: column;
    }

    .how-to-apply .apply-outer {
        display: flex;
        flex-direction: column-reverse;
    }
}