@media (min-width:576px) and (max-width:768px) {
    .side-social-bar {
        display: block;
    }

    .hero-section .navbar-flex .logo {
        text-align: left;
    }

    .hero-section .hamburger {
        display: none;
    }

    .hero-section .navbar-flex {
        gap: 50px;
        justify-content: space-between;
    }

    .container-m {
        margin: 0 20px;
    }

    .container-p {
        padding: 25px 0;
    }

    .hero-section .outer-hero {
        display: block;
    }



    .hero-section .outer-hero .content-hero .header-hero {
        width: 100%;
        text-align: center;
        transform: scale(0.8);
    }

    .hero-section .outer-hero .hero-img {
        display: none;
    }

    .hero-section .browse-btn-div {
        text-align: center;
        padding-bottom: 20px;
    }

    .hero-section .outer-hero .bubble {
        display: none;
    }

    .hero-section .curve {
        display: none;
    }

    /* ----------we-are------------ */

    .what-we-are .we-outer {
        display: flex;
        flex-direction: column;
    }

    .what-we-are .we-outer .left-content h2 {
        font-size: 22px;
    }

    .courses .courses-outer {
        display: flex;
        flex-direction: column;
    }

    .features .photos {
        display: flex;
        flex-direction: column;
    }

    .how-to-apply .apply-outer {
        display: flex;
        flex-direction: column-reverse;
    }
}