* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

/* ------------------------------------navbar------------------------------------ */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.hero-section .navbar-flex .logo {
    flex: 2;
    text-align: left;
}

.hero-section .hamburger {
    font-size: 32px;
    text-align: center;
    align-items: center;
    display: none;
}

.hero-section .hamburger span {
    color: white;
}

.hero-section .navbar-flex .searchbar input {
    height: 40px;
    width: 240px;
    outline: none;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(165, 165, 165);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    transition: 0.4s ease;
    padding: 5px 20px;

}

.hero-section .navbar-flex .searchbar ::placeholder {
    text-align: center;
    color: rgb(215, 215, 215);
}

.hero-section .navbar-flex .searchbar input:hover {
    border-color: white;
}

.hero-section .navbar-flex {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

/* -----------------social-bar------------------------ */
ul {
    list-style-type: none;
}

.side-social-bar {
    position: fixed;
    top: 30%;
    z-index: 999;
}

.side-social-bar a {
    color: rgb(255, 255, 255);
}

.side-social-bar li {
    background-color: rgba(207, 207, 207, 0.669);
    height: auto;
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    color: black;
    backdrop-filter: blur(5px);
    text-align: right;
    border-radius: 30px;
    transform: translateX(-250px);
    transition: 0.5s ease;
}

.side-social-bar li:hover {
    transform: translateX(-150px);
}

.side-social-bar .facebook:hover {
    color: white;
    background-color: rgb(63, 104, 216);
}

.side-social-bar .whatsapp:hover {
    color: white;
    background-color: rgb(61, 202, 104);
}

.side-social-bar .youtube:hover {
    color: white;
    background-color: rgb(237, 52, 52);
}

.side-social-bar .instagram:hover {
    color: white;
    background-color: rgb(181, 24, 147);
}

.side-social-bar span {
    font-size: 18px;
    padding: 3px 3px 3px 18px;
    margin-right: 5px;
    align-items: center;
}

/* --------------------------------Hero section--------------------- */
.hero-section {
    background: linear-gradient(to right, #000000, #000000);
    position: relative;
}

.container-m {
    margin: 0 100px;
}

.container-p {
    padding: 50px 0;
}

.container-hero {
    padding: 50px 0 0 0;
}

.hero-section .outer-hero {
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transform: scale(0.9);

}

.hero-section .outer-hero .bubble {
    /* position: absolute; */
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    transform: translate(0px, 120px);
    animation-name: bubble;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* @keyframes bubble {
    from {}

    to {
        transform: translatex(130px);
    }

} */



.hero-section .outer-hero .hero-img img {

    max-height: auto;
    width: 100%;
}

.hero-section .outer-hero .hero-img {
    overflow: hidden;
    border: 16px solid white;
    border-radius: 60%;
    transform: scale(0.8);
    transition: 0.7s ease;
    transform: scale(0.7);

}

.hero-section .outer-hero .hero-img:hover {
    transform: scale(0.9);
    border-color: cyan;

}

.hero-section .outer-hero .content-hero {
    padding: 15px 0;
}

.hero-section .outer-hero .content-hero .header-hero {
    width: 65%;
}

.hero-section .outer-hero .content-hero h1 {
    color: yellow;
    font-size: 80px;
    line-height: 50px;
    padding-bottom: 15px;
    transition: 0.8s ease;
    line-height: 75px
}



.hero-section .outer-hero .content-hero .header-hero h2 {
    color: rgb(255, 255, 255);
    font-weight: normal;
    width: auto;
    text-align: center;
    border-radius: 20px;
    border: 2px solid white;
    background-color: black;
    transition: 0.8s ease;
}

.hero-section .outer-hero .content-hero .header-hero span {
    font-weight: 100;
    letter-spacing: 8px;
}

.hero-section .outer-hero .content-hero .text-hero {
    padding: 30px 0;
    line-height: 30px;
}

.hero-section .outer-hero .content-hero .text-hero span {
    color: rgb(255, 255, 92);
    padding-right: 30px;
    width: 10px;
}

.hero-section .outer-hero .content-hero .text-hero h3 {
    color: rgb(221, 221, 221);
    font-weight: 100;
    font-size: medium;

}

.hero-section .outer-hero .content-hero .text-hero h3 div {
    padding: 5px;
    background-color: white;
}

.hero-section .browse-btn-div {
    text-align: center;
}

.hero-section .browse-btn-div button {
    height: 40px;
    width: 270px;
    border: 3px solid white;
    background: none;
    border-radius: 40px;
    color: white;
    transition: 0.4s ease;
}

.hero-section .browse-btn-div button:hover {
    color: black;
    background-color: white;

}

.hero-section .curve {
    content: "";
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: -65px;
    left: 0px;
    background: linear-gradient(to right, #000000, #000000);
    border-radius: 50%/50%;
    z-index: -1;
    /* transform: translate(-90px, -290px); */
}

/* -------------Unveal section------------ */
.what-we-are .we-outer {
    display: flex;
    padding-top: 10px;

}

.what-we-are .we-outer .left-content {
    color: rgb(164, 164, 164);
    flex: 1;
    padding: 50px 80px;
    background-color: rgb(0, 0, 0);
}

.what-we-are .we-outer .left-content .ul-btn-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
}

.what-we-are .we-outer .left-content .ul-btn-flex div {
    text-align: center;
    margin-right: 20px;
}

.what-we-are .we-outer .left-content .ul-btn-flex button {
    font-size: 30px;
    height: 60px;
    width: 60px;
    border: 2px solid white;
    background: none;
    border-radius: 40px;
    color: white;
    /* transition: 0.2s ease; */
    text-align: center;


}

.what-we-are .we-outer .left-content .ul-btn-flex button:hover {
    border: 3px solid white;
}

.what-we-are .we-outer .left-content h2 {
    font-size: 40px;
    font-weight: 500;
    color: rgb(227, 227, 227);
    padding-bottom: 20px;
    padding-left: 10px;
}



.what-we-are .we-outer .left-content ul {
    position: relative;
    list-style-type: none;
    padding: 30px 30px 30px 0;
}

.what-we-are .we-outer .left-content li {
    font-size: 15px;
    padding: 10px 0;
}

.what-we-are .we-outer .right-img {
    background-image: url(gallery-1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
}

.what-we-are .we-header {
    position: relative;
    text-align: center;
    padding: 80px 0;
    font-size: 38px;
    color: #000000;

}


/* -------------courses section------------ */

.courses {}

.courses .title {
    text-align: center;
    padding: 20px 0;
    font-size: 38px;
    color: #1e1e1e;
}

.courses .courses-outer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    gap: 40px;
}

.courses .courses-outer .course-box {
    border: 1px solid gray;
    border-radius: 2px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.837);
    backdrop-filter: blur(10px);
}

.courses .courses-outer .course-box .course-box-head-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.courses .courses-outer .course-box .row-1-head {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 15px 0px;
}

.courses .courses-outer .course-box .course-box-head-flex span {
    font-size: 20px;

}

.courses .courses-outer .course-box .course-box-head-flex h3 {
    font-weight: 300;
}


.courses .courses-outer .course-box .row-2-box-text ul {
    padding: 20px 50px;
    line-height: 30px;
    font-size: 16px;
}

.courses .courses-outer .course-box .row-3-flex {
    display: flex;
    justify-content: center;
    border-top: 1px solid;
    text-align: center;
    box-sizing: border-box;
}

.courses .courses-outer .course-box .row-3-flex .price {
    flex: 2;
    padding: 10px;
    border-right: 1px solid gray;

}

.courses .courses-outer .course-box .row-3-flex .buy {
    flex: 1;
    padding: 10px;
    text-align: center;
    transition: 0.3s ease;
    background-color: rgb(241, 241, 241);

}

.courses .courses-outer .course-box .row-3-flex .buy:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.courses .callback-btn {
    text-align: center;
    padding: 50px 0;
}

.courses .callback-btn a {
    color: black;
}

.courses .callback-btn button {
    font-size: 18px;
    height: 40px;
    width: 250px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    transition: 0.4s ease;
    background-color: white;

}

.courses .callback-btn button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

}

/* ========== features section============ */

.features {
    background-color: rgb(246, 246, 246);

}

.features .photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
}

.features .photos img {
    height: 210px;
    width: 340px;
}

.features .photos h1 {
    font-weight: 500;
    padding-top: 30px;
}

.features .photos p {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 300;
    padding: 5px 20px;
}

/* ----------how-to-apply---------- */
.how-to-apply {
    background-color: rgb(255, 255, 255);
}

.how-to-apply .apply-outer {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.how-to-apply .apply-outer .apply-left {
    flex: 1;
    padding: 30px;
}

.how-to-apply .apply-outer .apply-left h3 {
    font-weight: 500;
}

.how-to-apply .apply-outer .apply-left h1 {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
    color: rgb(165, 17, 17);
}

.how-to-apply .apply-outer .apply-left .step-1-flex {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-to-apply .apply-outer .apply-left .step-1-flex span {
    padding-right: 20px;
    font-size: 60px;
    color: rgb(31, 31, 31);
}

.how-to-apply .apply-outer .apply-left .step-1-flex h2 {
    font-weight: 500;
}

.how-to-apply .apply-outer .apply-right {
    flex: 1;
}

.how-to-apply .apply-outer .apply-right img {
    max-height: auto;
    width: 100%;
}
